<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Exportador.UI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Exportador.UI.Properties.Settings>
            <setting name="DestinationDirectoryPath" serializeAs="String">
                <value>C:\Temp\Exportador</value>
            </setting>
            <setting name="OutputFileName" serializeAs="String">
                <value>novo_arquivo_export</value>
            </setting>
        </Exportador.UI.Properties.Settings>
    </userSettings>
</configuration>